<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Screen</title>
</head>
<body>
    <form action="/assistance" method="post">
        <label for="pname">Patient name:</label><br>
        <input type="text" id="pname" name="pname"><br>
        <label for="room">Room number:</label><br>
        <input type="text" id="room" name="room"><br>
        <label for="treatment">Treatment:</label><br>
        <input type="text" id="treatment" name="treatment"><br>
        <label for="session">Session number:</label><br>
        <input type="text" id="session" name="session"><br>
        <button type="submit" class="button-design">Press for Assistance</button>
    </form>
</body>
</html>